@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Noto Sans JP", sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --fontColor: #222;
  --headerBgColor: rgb(97, 44, 22);
  --headerHoverBgColor: rgb(68, 31, 15);
  --mainBgColor: #eee;
  --articleBgColor: #fff;
  --footerBgColor: #222;
  --fontWeight100: 100;
  --fontWeight300: 300;
  --fontWeight400: 400;
  --boxShadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.2);
  --cardShadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.38);
  --border:rgb(32, 32, 32);
}

@media screen and (min-width: 837px) {
  body {
    max-width: 1920px;
    width: 100%;
    color: var(--fontColor);
  }
  body header {
    position: fixed;
    top: 0;
    z-index: 9999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 50px;
    background-color: var(--headerBgColor);
  }
  body header a {
    margin-left: 5px;
    height: 80%;
  }
  body header a img {
    height: 100%;
  }
  body header .main__hamburgerBtn {
    display: none;
  }
  body header nav {
    height: 100%;
  }
  body header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  body header nav ul li {
    height: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.274);
    font-weight: var(--fontWeight100);
  }
  body header nav ul li a {
    display: block;
    height: 50px;
    margin: 0;
    color: white;
    white-space: nowrap;
    text-align: center;
    line-height: 50px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  body header nav ul li a:hover {
    background-color: var(--headerHoverBgColor);
  }
  body header nav ul li:not(:last-child) {
    width: 150px;
  }
  body header nav ul li:last-child {
    width: 60px;
  }
  body #mainVisual {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  body #mainVisual img {
    position: absolute;
    max-width: 1920px;
    -webkit-filter: brightness(0.3);
            filter: brightness(0.3);
    -o-object-fit: cover;
       object-fit: cover;
  }
  body #mainVisual div h2 {
    display: block;
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: white;
    font-size: 2.8rem;
    font-weight: var(--fontWeight400);
    white-space: nowrap;
    -webkit-transition: letter-spacing 2s, opacity 2s;
    transition: letter-spacing 2s, opacity 2s;
    letter-spacing: 30px;
    opacity: 0;
  }
  body #mainVisual div .h2load {
    letter-spacing: normal;
    opacity: 1;
  }
  body .hamburgerMenu {
    display: none;
  }
  body main {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background-color: var(--mainBgColor);
  }
  body main section {
    width: 80%;
    margin: 35px 0px;
  }
  body main section h3 {
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 15px;
    padding-left: 30px;
  }
  body main section article {
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    -webkit-box-shadow: var(--boxShadow);
            box-shadow: var(--boxShadow);
    background-color: var(--articleBgColor);
  }
  body main section article .articleCover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 10px 0px;
  }
  body main section article .articleCover .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    overflow: hidden;
    width: 150px;
    height: 200px;
    margin: 20px 20px;
    -webkit-box-shadow: var(--cardShadow);
            box-shadow: var(--cardShadow);
    border: 1px solid rgba(0, 0, 0, 0.274);
    cursor: pointer;
    -webkit-transition: opacity 0.5s, -webkit-transform;
    transition: opacity 0.5s, -webkit-transform;
    transition: transform, opacity 0.5s;
    transition: transform, opacity 0.5s, -webkit-transform;
    -webkit-transform: translate(10%, 0%);
            transform: translate(10%, 0%);
    opacity: 0;
  }
  body main section article .articleCover .card a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--fontColor);
  }
  body main section article .articleCover .card .upperCard {
    height: 65%;
    width: 100%;
    overflow: hidden;
  }
  body main section article .articleCover .card .lowerCard {
    overflow: hidden;
    height: 35%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.582);
    font-size: 1.1rem;
  }
  body main section article .articleCover:first-child {
    margin-left: 20px;
  }
  body main section article .articleCover .cardload {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
  body main section article .articleCover .htmlcard .lowerCard {
    background: linear-gradient(318deg, #fe9900 0%, white 100%);
  }
  body main section article .articleCover .cssSassCard .lowerCard {
    background: linear-gradient(318deg, #fe005e 0%, #40d6fa 100%);
    color: white;
  }
  body main section article .articleCover .jscard .lowerCard {
    background-color: #7b79ff;
    color: white;
  }
  body main section article .articleCover .jslibrarycard .lowerCard {
    font-size: 1.2rem;
    font-weight: var(--fontWeight400);
    background-color: #7dff99;
  }
  body main section article .articleCover #jslibrary1Animejs .upperCard {
    width: 150px;
    height: 130px;
  }
  body main section article .articleCover #jslibrary1Animejs .upperCard img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body main section article .articleCover #jslibrary1Animejs .lowerCard {
    font-size: 1.2rem;
    font-weight: var(--fontWeight400);
  }
  body main section article .articleCover #jsLibrary3Swiper .upperCard {
    width: 150px;
    height: 130px;
  }
  body main section article .articleCover #jsLibrary3Swiper .upperCard img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body main section article .articleCover #jsLibrary3Swiper .lowerCard {
    font-size: 1.2rem;
    font-weight: var(--fontWeight400);
  }
  body main section article .articleCover #html2Tag .lowerCard {
    font-size: 1rem;
  }
  body main section article .articleCover #css2Sass .lowerCard {
    font-size: 1rem;
  }
  body main .moveTopBtn {
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid var(--fontColor);
    cursor: pointer;
    background-color: white;
  }
  body main .is-in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 20px;
    font-size: small;
    background-color: var(--footerBgColor);
    color: #fff;
  }
}

@media screen and (max-width: 836px) {
  body {
    max-width: 1920px;
    width: 100%;
    color: var(--fontColor);
  }
  body header {
    position: fixed;
    top: 0;
    z-index: 9999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 50px;
    background-color: var(--headerBgColor);
  }
  body header a {
    margin-left: 5px;
    height: 80%;
  }
  body header a img {
    height: 100%;
  }
  body header nav {
    display: none;
    height: 100%;
  }
  body header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  body header nav ul li {
    height: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.274);
    font-weight: var(--fontWeight100);
  }
  body header nav ul li a {
    display: block;
    height: 50px;
    margin: 0;
    color: white;
    white-space: nowrap;
    text-align: center;
    line-height: 50px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  body header nav ul li a:hover {
    background-color: var(--headerHoverBgColor);
  }
  body header nav ul li:not(:last-child) {
    width: 150px;
  }
  body header nav ul li:last-child {
    width: 60px;
  }
  body header .main__hamburgerBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  body header .main__hamburgerBtn:hover {
    background-color: rgba(34, 34, 34, 0.411);
  }
  body header .main__hamburgerBtn span {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    margin: 3px;
    background-color: white;
  }
  body #mainVisual {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  body #mainVisual img {
    position: absolute;
    max-width: 900px;
    -webkit-filter: brightness(0.3);
            filter: brightness(0.3);
    -o-object-fit: cover;
       object-fit: cover;
  }
  body #mainVisual div h2 {
    display: block;
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -25%);
            transform: translate(-50%, -25%);
    color: white;
    font-weight: var(--fontWeight400);
    font-size: 1.5rem;
    white-space: nowrap;
    -webkit-transition: letter-spacing 2s, opacity 2s;
    transition: letter-spacing 2s, opacity 2s;
    letter-spacing: 30px;
    opacity: 0;
  }
  body #mainVisual div .h2load {
    letter-spacing: normal;
    opacity: 1;
  }
  body .hamburgerMenu {
    display: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: fixed;
    top: 50px;
    width: 100%;
    height: 100vh;
    background-color: rgba(34, 34, 34, 0.747);
    z-index: 9999;
  }
  body .hamburgerMenu .hamburgerMenu__inner {
    width: 200px;
    background-color: var(--headerBgColor);
  }
  body .hamburgerMenu .hamburgerMenu__inner nav {
    background-color: var(--headerBgColor);
  }
  body .hamburgerMenu .hamburgerMenu__inner nav ul li {
    cursor: pointer;
    text-align: center;
    color: white;
    padding: 10px 0px;
    border-bottom: 1px solid var(--border);
  }
  body .hamburgerMenu .hamburgerMenu__inner nav ul li:first-child {
    border-top: 1px solid var(--border);
  }
  body .hamburgerMenu .hamburgerMenu__inner nav ul li:hover {
    background-color: rgba(34, 34, 34, 0.329);
  }
  body main {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background-color: var(--mainBgColor);
  }
  body main section {
    width: 80%;
    min-width: 470px;
    margin: 35px 0px;
  }
  body main section h3 {
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 15px;
    padding-left: 30px;
  }
  body main section article {
    width: 80%;
    min-width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    -webkit-box-shadow: var(--boxShadow);
            box-shadow: var(--boxShadow);
    background-color: var(--articleBgColor);
  }
  body main section article .articleCover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main section article .articleCover .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    overflow: hidden;
    width: 150px;
    height: 200px;
    margin: 20px 20px;
    -webkit-box-shadow: var(--cardShadow);
            box-shadow: var(--cardShadow);
    border: 1px solid rgba(0, 0, 0, 0.274);
    cursor: pointer;
    -webkit-transition: opacity 0.5s, -webkit-transform;
    transition: opacity 0.5s, -webkit-transform;
    transition: transform, opacity 0.5s;
    transition: transform, opacity 0.5s, -webkit-transform;
    -webkit-transform: translate(10%, 0%);
            transform: translate(10%, 0%);
    opacity: 0;
  }
  body main section article .articleCover .card a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--fontColor);
  }
  body main section article .articleCover .card .upperCard {
    height: 65%;
    width: 100%;
    overflow: hidden;
  }
  body main section article .articleCover .card .lowerCard {
    overflow: hidden;
    height: 35%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.582);
    font-size: 1.1rem;
  }
  body main section article .articleCover .cardload {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
  body main section article .articleCover .htmlcard .lowerCard {
    background: linear-gradient(318deg, #fe9900 0%, white 100%);
  }
  body main section article .articleCover .cssSassCard .lowerCard {
    background: linear-gradient(318deg, #fe005e 0%, #40d6fa 100%);
    color: white;
  }
  body main section article .articleCover .jscard .lowerCard {
    background-color: #7b79ff;
    color: white;
  }
  body main section article .articleCover .jslibrarycard .lowerCard {
    font-size: 1.2rem;
    font-weight: var(--fontWeight400);
    background-color: #7dff99;
  }
  body main section article .articleCover #jslibrary1Animejs .upperCard {
    width: 150px;
    height: 130px;
  }
  body main section article .articleCover #jslibrary1Animejs .upperCard img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body main section article .articleCover #jslibrary1Animejs .lowerCard {
    font-size: 1.2rem;
    font-weight: var(--fontWeight400);
  }
  body main section article .articleCover #jsLibrary3Swiper .upperCard {
    width: 150px;
    height: 130px;
  }
  body main section article .articleCover #jsLibrary3Swiper .upperCard img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body main section article .articleCover #jsLibrary3Swiper .lowerCard {
    font-size: 1.2rem;
    font-weight: var(--fontWeight400);
  }
  body main section article .articleCover #html2Tag .lowerCard {
    font-size: 1rem;
  }
  body main section article .articleCover #css2Sass .lowerCard {
    font-size: 1rem;
  }
  body main .moveTopBtn {
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid var(--fontColor);
    cursor: pointer;
    background-color: white;
  }
  body main .is-in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 20px;
    font-size: small;
    background-color: var(--footerBgColor);
    color: #fff;
  }
}
/*# sourceMappingURL=style.css.map */